@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-heart {
  animation: heart-burst 0.8s steps(28) forwards;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
